<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	  <parameter name="browser" value="firefox"></parameter>
	  <classes>
		<class name="testClasses.BaseClass"></class>
		  <class name="testClasses.HomePage_TestClass"></class>
		  <class name="testClasses.SelectFlight_TestClass"></class>
		  <class name="testClasses.ReviewPage_TestClass"></class>
	  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
